<h1>SITE UNDER DEVELOPMENT</h1>
<h1 align="center">Listing all Recipes</h1>
<hr/>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">

      </section>
    </div>
    <div class="col-md-9 card mb-4 box-shadow" style="width: = 18rem;">
      <h4><%= link_to recipe.name.capitalize, recipe_path(recipe) %></h4>
      <p><%= truncate(recipe.description.capitalize, length: 150) %></p>
      <p>
        <span class="quiet">
          <sm>Created <%= time_ago_in_words(recipe.created_at) %> ago</sm>
        </span>
      </p>
    </div>
  </div>
<% end %>
